.contenedor{
	width: 100%;
	height: 50%;
}
.fter ul li{
	
	display: inline-block;
	
}
.fter ul{
	margin-left: 25%;
}
.inicial{
	border-radius: 3px;
	background: rgb(0,0,0,2);
	position: absolute;
	top: 30%;
}